spring:
  application:
    name: school-lending
  # This section overrides the default H2 settings when profile=postgres is active
  datasource:
    url: jdbc:postgresql://localhost:5432/equipment_lending
    username: postgres
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect